{:paths ["src/main"]
 :deps {com.wsscode/pathom3 {:git/url "https://github.com/wilkerlucio/pathom3"
                             :sha "49b9847f75d3a00e89cccd82c8d549d31e79cd7e"}
        metosin/spec-tools {:mvn/version "0.10.5"}
        org.clojure/clojure {:mvn/version "1.10.2"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}}

 :aliases
 {:test-clj
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"]}

  :test-cljs
  {:extra-paths ["test"]
   :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts ["-m" "cljs-test-runner.main"]}

  :outdated
  {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}
